npm-debug.log
*.java
.DS_Store
*.bak
*.bat
*.log
node_modules

check
/obj/
/bin/
/.ntvs_analysis.dat
/.vs
/.vscode
.idea
.tern-project
.project
.jshintrc

/_temp
customfiles.json
/form/dev/testwebhook.jade

embed/node_modules
embed/bower_components
public/embed/bower_components
