@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
body {
  background: #f5f6f8; }
  body .btn-primary {
    background: #1754be;
    border-radius: 2px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px; }
  body .background-login {
    position: absolute;
    min-height: 407px;
    width: 100%;
    background-image: url(../img/background_login.jpg);
    z-index: 1;
    top: 0;
    left: 0; }
  body .container .block-login {
    position: relative;
    z-index: 9;
    background: #fff;
    max-width: 449px;
    margin: 149px auto 169px;
    padding: 53px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 43px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 2px 43px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 2px 43px rgba(0, 0, 0, 0.24); }
    body .container .block-login .logo_onify {
      margin: 0 auto 45px; }
    body .container .block-login .row #login_form {
      width: 100%; }
      body .container .block-login .row #login_form .form-group .animated-label {
        position: absolute;
        top: 8px;
        left: 40px;
        bottom: 0;
        z-index: 2;
        width: 90%;
        cursor: text;
        transition: 0.2s ease all;
        margin: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        color: #000;
        opacity: 0.38;
        font-size: 15px; }
        body .container .block-login .row #login_form .form-group .animated-label:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 45%;
          height: 2px;
          width: 10px;
          visibility: hidden;
          background-color: #1754be;
          transition: 0.2s ease all; }
      body .container .block-login .row #login_form .form-group span {
        position: relative;
        padding-left: 40px;
        display: block; }
        body .container .block-login .row #login_form .form-group span input.form-control {
          margin-bottom: 51px;
          border-left: 0;
          border-top: 0;
          border-bottom: 1px solid #e0e0e0;
          border-right: 0;
          border-radius: 0;
          color: #32325d;
          font-family: "Open Sans", sans-serif;
          font-size: 15px;
          padding: 10px 0;
          font-weight: light; }
          body .container .block-login .row #login_form .form-group span input.form-control:focus {
            box-shadow: none;
            border-bottom-color: rgba(0, 0, 0, 0.12);
            font-weight: 600; }
            body .container .block-login .row #login_form .form-group span input.form-control:focus ~ .animated-label {
              top: -20px;
              opacity: 1;
              color: #32325d;
              font-size: 12px;
              font-weight: 600; }
              body .container .block-login .row #login_form .form-group span input.form-control:focus ~ .animated-label:after {
                visibility: visible;
                width: 100%;
                left: 0; }
        body .container .block-login .row #login_form .form-group span:before {
          content: '';
          position: absolute;
          display: block;
          width: 16px;
          height: 21px;
          top: 15px;
          left: 0; }
      body .container .block-login .row #login_form .form-group .username_icon:before {
        background-image: url(../img/icon_username_grey.png);
        background-repeat: no-repeat; }
      body .container .block-login .row #login_form .form-group .password_icon:before {
        background-image: url(../img/icon_privacy_grey.png);
        background-repeat: no-repeat; }
    body .container .block-login .row .btn-primary {
      width: 100%; }
  body .container .footer_login {
    margin: 0 auto; }
    body .container .footer_login ul {
      display: block;
      text-align: center;
      margin-bottom: 38px; }
      body .container .footer_login ul li {
        display: inline-block;
        margin-right: 27px; }
        body .container .footer_login ul li a {
          color: #8898aa;
          font-family: "Open Sans", sans-serif;
          font-size: 12px; }
          body .container .footer_login ul li a:focus {
            outline: none; }
          body .container .footer_login ul li a:hover {
            text-decoration: none; }

/*# sourceMappingURL=index.css.map */
