@media only screen and (max-width: 750px) {
  .login-container {
    .login-list{
      width: 78%;
        &:before {
          position: absolute;
          display: block;
          content: '...';
          right: 0;
          background: #fafafa;
          padding-left: 6px;
          z-index: 9;
        }
    }
  }
}
@media only screen and (max-width: 599px) {
  .login-logo-mobile{
    display: block;
  }
}
@media screen and (max-width: 1100px), (orientation: landscape){
  .login-main{
    margin-bottom: 70px;
  }
}
