@import '~@/assets/sass/variables.scss';
@media only screen and (max-width: 930px){
  .workspace-container{
    .content-workspace-items{
      max-width:100%;
      padding: 0 24px;
    }
    .content-workspace{
      max-width:100%;
      padding: 0 24px;
    }
  }
 ///* aside.primary-navigation.navigation-drawer.navigation-drawer--is-mobile.navigation-drawer--open.theme--dark{
 //   position: absolute;
 //   top: 0;
 //   z-index: 9999;
 // }*/

}
@media only screen and (max-width: 750px){
  .login-container {
    .login-list{
      margin-top:0;
    }
  }
}
@media only screen and (max-width:650px) {
  .login-container{
    .login-list{
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      word-wrap: break-word;
      position: relative;
      width:81%;
      margin:auto;
      &:before {
        position: absolute;
        display: block;
        content: '...';
        right: 0;
        background: $bg-page;
        padding-left: 6px;
        z-index: 9;
      }
      .list__tile{
        &:first-child{
          padding-left:0;
        }
      }
    }
  }

}
@media only screen and (max-width: 599px) {
  .login-logo-mobile{
    display: block;
  }
  .workspace-container{
    .card{
      margin-right: 0 !important;
    }
  }
  .logo-mobile{
    display:block !important;
  }
  .logo-desktop{
    display:none;
  }
  .search-mobile{
    display:block !important;
  }
/*  .bg-search{
    display:none !important;
  }*/
}

@media only screen and (max-width: 435px) {
  .login-container .login-main {
    max-width: 410px !important;
    min-width: inherit !important;
  }
}
