@import '~@/assets/sass/variables.scss';
.application--wrap{
  font-family: 'Open Sans', sans-serif !important;
}

@media only screen and (max-width: 1263px){
  .select-searches.menu__content--select{
    flex-basis: 50%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 50%;
    position: fixed;
  }
}
@media only screen and (max-width: 930px){
  .workspace-container{
    .content-workspace-items{
      max-width:100%;
      padding: 0 24px;
    }
    .content-workspace{
      max-width:100%;
      padding: 0 24px;
    }
  }
}
@media only screen and (max-width: 700px){
  .menu__content.menu__content--select.menu__content--autocomplete.select-searches.menuable__content__active .list__tile.list__tile--link {
    height:70px !important;
  }
}
@media only screen and (max-width: 750px){
  .login-container {
    .login-list{
      margin-top:0;
    }
  }
}
@media only screen and (max-width:650px) {
  .menu__content.menu__content--select.select-workspaces{
    left: 311px !important;
  }
  .login-container{
    .login-list{
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      word-wrap: break-word;
      position: relative;
      width:81%;
      margin:auto;
      &:before {
        position: absolute;
        display: block;
        content: '...';
        right: 0;
        background: $bg-page;
        padding-left: 6px;
        z-index: 9;
      }
      .list__tile{
        &:first-child{
          padding-left:0;
        }
      }
    }
  }

}
@media only screen and (max-width: 599px) {
  .workspace-container{
    .flex.mx-auto.content-workspace{
      h2.title.mt-5{
        font-size: 30px !important;
        margin-bottom: 10px;
      }
    }
    .content-workspace-items{
      padding: 0 32px !important;
    }
  }
  .menu__content.menu__content--select.select-workspaces,.menu__content.menu-user{
    position:fixed;
  }
  .menu__content.menu-user{
    top: 13px !important;
  }
  .mobile-menu{
    display: block !important;
    .primary-navigation.navigation-drawer{
      position: fixed;
    }
    .list__tile.list__tile--avatar{
      .list__tile__title{
        font-size: 12px !important;
      }
    }
  }
  .login-logo-mobile{
    display: block;
  }
  .workspace-container{
    .card{
      margin-right: 0 !important;
    }
  }
  .logo-mobile{
    display: block !important;
    top: 13px;
    z-index: 999;
    position: absolute;
    left: 52px;
  }
  .logo-desktop{
    display:none;
  }
  .search-mobile,.mobile-navigation{
    display:block !important;
  }
  .bg-search.search-mob{
    display:none;
  }
  .absolute-seach{
    position: absolute;
    z-index: 9999;
    top: 13px;
    left: 15px;
    right: 15px;
    height: 50px !important;
    .search-primary.input-group.input-group--text-field.input-group--select .input-group__selections{
        padding-left: 54px !important;
        width:87% !important;
    }

    .select-workspace{
      .input-group__append-icon{
        padding-left: 0 !important;
        padding-right: 18px;
      }
      .input-group__selections{
        padding-left: 9px !important;
      }
    }
  }
  .desktop-navigation{
    position: absolute;
    z-index: 99;
    top: 13px;
    left: 9px;
    right: 9px;
    height: 51px !important;
  }
  .menu__content.menu__content--select.menu__content--autocomplete.select-searches.menuable__content__active {
    width: 100%;
    top: 62px !important;
    max-width: 93%;
    position: fixed;
  }
  .content-general-search{
    .input-group.input-group--text-field{
      label{
        top: 13px !important;
      }

    }
  }
  .thumb-workspace-header{
    margin-left:0;
    margin-right:0;
  }
  .items-selected-search{
    display:none;
  }
  .content-general-search .bg-search .flex.lg4 {
    max-width: 82px;
    min-width: 82px !important;
    width: 82px;
  }
  .select-workspace.input-group.input-group--append-icon.input-group--text-field.input-group--select.primary--text{
    label{
      display: none;
    }
  }
  .select-workspace.input-group.input-group--focused.input-group--dirty.input-group--append-icon.input-group--text-field.input-group--select.primary--text {
    padding: 9px 0;
    label{
      display:none;
    }
    .thumb-workspace-header{
      margin-right: 0 !important;
    }
  }
  .primary-navigation{
    position: absolute;
    top:0;
    left:0;
    z-index: 9999 !important;
  }
  .active.header-toolbar{
    z-index:9999;
  }
  .select-workspace .input-group__selections {
    margin-left: 0 !important;
    padding-left:0 !important;
  }

  .workspace-container{
    .content-workspace{
      h2.title.mt-5.blue--text{
        font-size: 30px !important;
        margin-bottom: 6px;
        margin-top: 17px !important;
      }
      p{
        line-height: 23px;
      }
    }
    .content-workspace-items{
      padding: 0 32px !important;
    }
  }
}

@media only screen and (max-width: 435px) {
  .login-container .login-main {
    max-width: 410px !important;
    min-width: inherit !important;
  }
}
