// Variables

$primary-color: #dd2f49;
$blue-color: #1754be !important;
$black: #000 !important;
$bg-page: #fafafa !important;
$grey--text:#8898aa !important;
$blue--text:#32325d !important;
$border-orange:#ff7b00 !important;
$border-light-green:#35bf48 !important;
$border-dark-green:#008a73 !important;
$border-light-blue:#1754be !important;
$border-dark-grey:#8f92a3 !important;
$bg-search:#eff0f1 !important;
