// Variables

$white:#ffffff !important;
$primary-color: #dd2f49;
$blue-color: #1754be !important;
$black: #000 !important;
$bg-page: #fafafa !important;
$grey--text:#8898aa !important;
$blue--text:#32325d !important;
$border-orange:#ff7b00 !important;
$color-orange:#ff7b00 !important;
$bg-orange:#ff7b00 !important;
$bg-light-green:#35bf48 !important;
$bg-dark-green:#008a73 !important;
$bg-light-blue:#1754be !important;
$bg-dark-grey:#8f92a3 !important;
$border-light-green:#35bf48 !important;
$color-light-green:#35bf48 !important;
$border-dark-green:#008a73 !important;
$color-dark-green:#008a73 !important;
$border-light-blue:#1754be !important;
$color-light-blue:#1754be !important;
$border-dark-grey:#8f92a3 !important;
$color-dark-grey:#8f92a3 !important;
$bg-search:#eff0f1 !important;
$text-search:#9ba9bb !important;
$text-select:#23233d !important;
$bg-navigation-mini:#293244 !important;
$bg-navigation-open:#232b3a !important;
$bg-page:#f5f6f8 !important;
